footer {
    // max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    padding: 2rem 4rem;
    user-select: none;
    background-color: #02030B;
    
    article {
        padding-top: 2rem;
        border-top: 1px solid $blue_opacity;

        .footer-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $text;
            
            a {
                color: $white;
                cursor: pointer;
                text-decoration: none;
                
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}